@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: none !important;
    appearance: none !important;
  }
}

::selection {
  background-color: #2c4e80;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #626262;
}
::-webkit-scrollbar-track {
  background-color: #dedede;
}
